[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
ipdb = "*"
faker = "15.3.2"
flask-restful = "*"
sqlalchemy = "*"
flask-bcrypt = "==1.0.1"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
werkzeug = "==2.2.2"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
