     .tableSize {
    border-collapse:collapse
   }
  
   .td, th, .td-edit {
    background:rgb(231, 221, 221);
    border:3px solid grey;
    position:relative;
    top:65px;
    height: 00px;
    text-align:left;
    font-weight:bolder;
    padding: 0px 20px 0px  ;
    line-height:1.0;
    color:rgb(104, 69, 69);
   }
  
  .td-edit{
      line-height:.5; 
  }
  
  .tr {
    /* width:1200px; */
    /* min-width:500px; */
    resize:horizontal;
  }
  .th-first, .th-last, .th-email,.th-phone, .th-dob,.th-username, .th-gender, .th-bio{
    background-color:rgb(247, 31, 31) ;
    color:rgb(225, 199, 199)
   }
  
  .th-system {
    width:100px;
    justify-content: center;
  }
  
  .th-task {
    width:200px;
    justify-content: center;
  }
  .th-desc {
    width:700px;
    resize:horizontal;
    padding: 0px 20px 0px  ;
    line-height:2.0;
  }
  
  .td-desc {
    line-height:2.0;
    
  }
  
  .th-keys {
    display:flex;
    width:auto;
    min-width:250px;
    resize:horizontal;
    padding: 0px 20px 0px  ;
    line-height:2.0;
    line-height-step:1px;
  }
  
  .text-decor{
     text-decoration-line: underline;
   }