.navigation {
    display: flex;
    justify-content: space-between;
    margin: 2%;
  }
  
  .nav-title {
    font-family: "Splash", cursive;
    color:white;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: white;
    font-family: Arial;
  }
  
  .nav-menu a:hover {
    color: pink;
  }
  
  .logout-button:hover {
    color: pink;
  }
  
  .close-button {
    border: 2px solid white;
    width: 21px;
    height: 19px;
    border-radius: 30px;
    padding-top: 2px;
    text-align: center
  }
  
  .close-button:hover {
    color: rgb(255, 136, 0);
    border: 2px solid rgb(255, 136, 0);
  }
  
  .nav-menu ul {
    list-style: none;
  }
  
  .nav-menu li {
    font-family: Arial;
    margin: 2%;
  }
  
  input[type="submit"] {
    background-color: #42ddf5;
    color: white;
    height: 40px;
    font-family: Arial;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }