.productions-heading {
    text-transform: uppercase;
    font-family:Arial, sans-serif;
    width:70px;
    font-size: 70px;
    line-height: .8;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
    transform: scale(.7, 1.4);
    color:white
}

.heading-highlight {
    /* color:#42ddf5; */
    color:gold
}

/* .card-container {
    display: flex;
    flex-direction: column;
    margin: 5%;
} */

.hero-image {
    position: relative;
    z-index: -1;
    left: 40%;
    /*margin-top: 5%;  */ 
    filter: brightness(1.0);
}

